html {
    font-family: Verdana;
    background-color: #BBBF3F;
    margin: 10px 100px 50px 100px;
}

header img{
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}

.sub-heading {
    text-align: center;
    margin: 5px auto 5px auto;
}

footer {
    text-align: center;
}

fieldset {
    border: 2px solid #ccc;
    background-color: rgba(242, 242, 242, .8);
}
